<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="ReverseProxyInboundRule1" />
            </rules>
            <outboundRules>
                <remove name="ReverseProxyOutboundRule1" />
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
